.pre {
    tab-size: 2;
}

.code {
    overflow: auto;
    display: block;
    padding: 0.8rem;
    line-height: 1.5;
    background: #f5f5f5;
    font-size: 0.75rem;
    border-radius: var(--radius);
}
