.form {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.h1 {
  font-size: 20px;
}

.input {
  display: block;
  margin-bottom: 10px;
}

.message {
  font-size: 10pt;
  background: red;
  color: white;
  max-width: fit-content;
  padding: 2px 5px 2px 5px;
  margin: 5px; 
}

.submitFields {
  display: flex;
  flex-direction: row;
  max-height: 2em;
}

.loader,
.loader:before,
.loader:after {
  background: #22bad9;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 3pt;
  height: 5pt;
}
.loader {
  color: #22bad9;
  text-indent: -9999em;
  margin: 5px auto;
  position: relative;
  font-size: 5px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -1em;
    height: 2em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -1em;
    height: 2em;
  }
}
